<!DOCTYPE html>
<html>
    <head>
        <title>Retin.us</title>

        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
        <script src='/js/polish.min.js'></script>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <!-- Stylesheets from your assets folder are included here -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <%- assets.css() %>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-41721178-1', 'retin.us');
          ga('send', 'pageview');
        
        </script>
    </head>

    <body>
        <div class='container'>
            <%- body %>
            
            <footer>
                <a href='http://zolmeister.com'>Author </a>|
                <a target='_blank' href='https://github.com/Zolmeister/Retinus'> Source Code </a>|
                <a target='_blank' href='tos.txt'> ToS </a>|
                <a target='_blank' href='privacy.txt'> Privacy </a>| ©2013
            </footer>
            
            <!-- Templates from your view path are included here -->
            <%- assets.templateLibrary() %>
    
            <!-- Javascripts from your assets folder are included here -->
            <%- assets.js() %>
        </div>
    </body>
</html>
