body {
    background-image: url('/images/bg.png');
    color: #ccc;
}
footer {
    color: #999;
    text-shadow: .1px .1px #222, -.5px -.5px #333;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece {
    background: #3a3a3a;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0);
}
/* left */
 .delete {
    background: rgba(255, 100, 100, .5);
}
.delete:hover {
    background: rgba(255, 100, 100, .7);
}
/* main */
 #main:before {
    background-color: #999;
}
.reader .read, .reader .read .item-link {
    color: #999;
}
.reader .selected, .reader .selected .item-link {
    color: #ddd;
}
.reader .selected:before {
    background-color: #999;
}
.item-link {
    color: #ccc;
}
/* login */
 #login #signup-form:before {
    background-color: #999;
}
#login label {
    color: #ccc;
}
/* errors */
 .error {
    background: rgba(255, 100, 100, .5);
}