<div class='header'>
    <div class='logo'>logo</div>
    <span class='logout'>logout</span>
</div>
<div id='sidebar'></div>
<div id='main'></div>
<div id='login'></div>
</script>
<script>
var Authed = <%= authed %>
</script>