body {
    background-image: url('/images/bg.png');
    color: #ccc;
    font-family: Arial, sans-serif;
}
a {
    color:inherit;
}
::-webkit-scrollbar {
    width: 14px;
    background-color: #373737;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* top */
.logo {
    display: inline-block;
    height: 50px;
}
.logout {
    float: right;
}
.header {
    padding: 20px 30px;
}

/* left */
#sidebar {
    width: 250px;
    transition: width 1s;
    position: fixed;
    z-index: 999;
    height: 100%;
    height: calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    overflow: hidden;
}
#sidebar::-webkit-scrollbar {
    width: 10px;
}
#sidebar:hover {
    overflow: auto;
}
.shrunk {
    width: 10px !important;
}
.shrunk:hover {
    overflow: hidden !important;
}
#sidebar > div {
    padding:0px 10px;
}
.feed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.folder .feed {
    margin-left: 10px;
}
.add-feed, .minimize, .maximize {
    font-size: 28px;
}
.add-feed {
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}
.minimize, .import {
    float: left;
}
.edit {
    text-align: right;
    margin-right: 10px;
}
.all-items {
    margin: 20px;
}

/* main */
#main{
    position: relative;
    transition: padding 1s;
    padding-left: 250px;
}
.biggen {
    padding-left: 10px !important;
}
#main:before {
    content:'';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #999;
}
.reader {
    padding: 60px 100px;
}
.unread-item {
    position: relative;
    margin: 0px auto 130px auto;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    max-width: 700px;
}
.reader .read, .reader .read .item-link{
    color: #999;
}
.reader .selected, .reader .selected .item-link {
    color: #ddd;
}
.reader .selected:before{
    content: '';
    position: absolute;
    background-color: #999;
    width: 4px;
    height: 100%;
    margin-left: -25px;
}
.item-link {
    font-family: Arial, sans-serif;
    color: #ccc;
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
    font-size: 18px;
}

/* login */
#login {
    max-width: 900px;
    margin: 100px auto 0px auto;
}
#login #login-form {
    float: left;
    width:50%;
}
#login #signup-form {
    float: right;
    position: relative;
    width:50%;
}
#login #signup-form:before {
    content: '';
    position:absolute;
    width:2px;
    height:100%;
    margin-left:-10px;
    background-color: #999;
}
#login h1 {
    font-size: 20px;
    padding:20px
}
#login label {
    color: #ccc;
}
