<script type='text/x-underscore-template' id='loginView'>
    <form>
    login:<br>
    email: <input name='email'>
    password: <input name='pass'>
    </form>
    
    <form>
    signup<br>
    email: <input name='email'>
    password: <input name='pass'>
    confirm: <input name='pass2'>
    </form>
</script>