<script type='text/x-underscore-template' id='login-view'>
    <form id='login-form'>
    login:<br>
    email: <input name='email'>
    password: <input name='pass' type='password'>
    <input type='submit'>
    </form>
    
    <form id='signup-form'>
    signup<br>
    email: <input name='email'>
    password: <input name='pass' type='password'>
    confirm: <input name='pass2' type='password'>
    <input type='submit'>
    </form>
</script>