<script type='text/x-underscore-template' id='mainView'>
    feeds
    <div class='reader'>
    <% _.each(items.reverse(), function(item){%>
        <% if (item.visible){ %>
            <div class='unreadItem'>
                <% if (item.selected){ %>
                    (selected)
                <%}%>
                <% if (item.read){ %>
                    (read)
                <%}%>
                <a href='<%= item.link %>' target='_blank'><%= item.title %></a>
                <span><%= item.summary %></span>
            </div>
        <%}%>
    <%})%>
    </div>
</script>