<script type='text/x-underscore-template' id='mainView'>
    feeds
    <div class='reader'>
    <% _.each(items.reverse(), function(item){%>
        <div class='unreadItem'>
            <a href='<%= item.link %>' target='_blank'><%= item.title %></a>
            <span><%= item.summary %></span>
        </div>
    <%})%>
    </div>
</script>